body, html{
    height: 100vh;
    background-color: #1E1450;
}

html{
    overflow-y: hidden;
    overflow-x: hidden;
}


@font-face{
    font-family: myFont;
    src:url(PilatWide-Light.ttf);
}
*{
    font-family: myFont;
}

@font-face{
    font-family: myFontSpecial;
    src:url(PilatWide-Bold.ttf);
}
.specialFont{
    font-family: myFontSpecial;
}

tr:nth-child(odd) {  
    background-color: #1E1450;
    color: white;  
    border: 1px solid white;
} 


tr:nth-child(even) {  
    background-color: #000000;  
    color: white;
    border: 1px solid white;
} 

@media only screen and (max-width: 600px) {
    .slotparent{
        flex-direction: row;
    }
    .slotdiv{
        flex-direction: column;
    }
    .rower{
        flex-direction: column;
    }
}
